<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--ekledik-->
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailUser" value="testasda423@gmail.com"/>
    <add key="MailPass" value="Mailtest"/>
    <add key="SiteRootUri" value="http://localhost:50647"/>


    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <!--ekledik-->
  
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=.;Initial Catalog=MyEvernoteDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
    <add name="MyEvernoteWebAppContext"
      connectionString="Data Source=(localdb)\v11.0; Initial Catalog=MyEvernoteWebAppContext-20171008132231; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MyEvernoteWebAppContext-20171008132231.mdf"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>