
 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center ">
                <h5>
                    <strong>
                        Site Haritası
                    </strong>
                </h5>
                <hr />
                <p>

                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>Hakkımızda</a><br />

                    <a href="/Home/MostLiked"><span class=" glyphicon glyphicon-star"></span>En beğenilenler</a><br />

                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>Son YAzılar</a><br />


                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        My Evernote
                    </strong>
                </h5>
                <hr />
                <p>Tüm Hakları saklıdır &copy; My Evernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        E Bülten Üyeliği
                    </strong>
                </h5>
                <hr />
                <div class="col-md-12 col-md-offset-1">
                    <p>
                        wqeqweqwe
                        qwasdasdasdasd
                        assdassdasdasdqwe
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Eposta adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send"></span>Gönder!</button>
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </footer>
</div>